In [10]:
import pandas as pd
pd.read_csv('sample.csv').head()

   A  B  C  D  E
0  1  2  3  4  5
1  1  2  3  4  5
2  1  2  3  4  5

In [ ]:
x = open('./sample.csv', 'r')

In [8]:
import csv
with open('sample.csv') as f:
    reader = csv.DictReader(f)
    for row in reader:
        print(row['A'], row['B'])

In [9]:
with open('cities.txt', 'w') as f:
    f.write('Amsterdam | Berlin | Copenhagen')

In [4]:
with open('cities.txt', 'w') as f:
    f.write('Nigeria| Berlin | Copenhagen')